:root{
    --primary-color:#b75d69;
    --skills-background:rgb(183, 93, 105,0.6);
    --skill-background:rgb(183, 93, 105,0.3);

}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Encode Sans Expanded',sans-serif;
    
}